<div class="calendar-component">
    <div class="cal-heading">
        <select class="month indicator" name="date-month">
            <option value="0">Jan</option>
            <option value="1">Feb</option>
            <option value="2">Mar</option>
            <option value="3">Apr</option>
            <option value="4">May</option>
            <option value="5">Jun</option>
            <option value="6">Jul</option>
            <option value="7">Aug</option>
            <option value="8">Sep</option>
            <option value="9">Oct</option>
            <option value="10">Nov</option>
            <option value="11">Dec</option>
        </select>
        <select class="year" name="date-year"></select>
    </div> 
    <div class="cal-body">
        <div class="day-names single-line">
            <span class="day-name">Sun</span> 
            <span class="day-name">Mon</span>
            <span class="day-name">Tue</span>
            <span class="day-name">Wed</span>
            <span class="day-name">Thu</span>
            <span class="day-name">Fri</span>
            <span class="day-name">Sat</span>
        </div>
        <div class="date-numbers"></div>
    </div>
</div> 
