<div class="single-line" data-todo-id="">
  <!-- GET COMPLETION-STATUS FROM TASK OBJ -->
  <!-- ON check, update task obj -->
  <!-- add task ID# to IDs: -->
  <input class="checkbox calendar hidden" type="checkbox" /> 
  <!-- on click, pull up task item in left pane -->
  <!-- SCRIPT: add color from list -->
  <button class="title-button" type="button">
      <!-- GET TITLE FROM TASK OBJ -->
      <!-- add to ID task obj ID -->
      <input class="readonly-title" type="text" readonly /> 
      <!-- remove .hidden if task object is generated via recurrence algo -->
      <img class="recurring indicator cal hidden" src="./images/prospective-left/todo-components/recurring.svg" />
  </button>
  <!-- remove .hidden if task has timer and today is task-date -->
  <button class="timer hidden" type="button">
      <img class="timer cal" src="./images/prospective-left/todo-components/time-stopwatch.svg" />
  </button>
</div>