<div class="solid-line"></div>

<!-- on click -->
    <!-- toggle .active on option's icon -->
    <!-- change .right.pane to correct view with consideration for which panel is active-->
<div class="z-top top ">
    <button id="calendar-view-button" class="dragbar-button" type="button">
        <img class="dragbar-icon" src="../assets/images/prospective-left/todo-components/date.svg" />
    </button>
    <button id="data-view-button" class="dragbar-button" type="button">
        <img class="dragbar-icon inactive" src="../assets/images/prospective-left/toolbars/drag-view-data.svg" />
    </button>
</div>
<div class="z-top bottom ">
    <button id="settings-view-button" class="dragbar-button" type="button">
        <img class="dragbar-icon inactive" src="../assets/images/prospective-left/toolbars/drag-bottom-settings.svg" />
    </button>
</div> 
