<template id="date-template">
    <!-- for dates: -->
        <!-- if today: value:'today' -->
        <!-- if within 7 days, value:named-day-abbreviation -->
        <!-- if this year, value:month-abbreviation+day-number -->
        <!-- else, ##/##/## -->
    <button class="date indicator hidden" type="button">
        <!-- if due-date available, remove .hidden -->
        <div class="container hidden">
            <!-- get due-date and due-time from task object -->
            <img class="indicator" src="./images/prospective-left/todo-components/due-date.svg" />
            <input id="due-date-indicator-" type="text" readonly />
                <!-- for times: -->
                <!-- if whole hour, value:hour-only -->
                <!-- add AM/PM -->
            <input id="due-time-indicator-" type="text" readonly /> 
        </div>
        <!-- if due-date not available, but start-date available, remove .hidden: -->
            <div class="container hidden">
            <img class="indicator" src="./images/prospective-left/todo-components/date.svg" />
            <input id="start-date-indicator-" name="start-date" type="date" readonly />
            <input id="start-time-indicator-" name="start-time" type="time" readonly />
            </div>
    </button>
</template>

<template id="recurring-template">
    <button id="recurring-indicator-" class="indicator hidden" type="button">
        <img class="indicator" src="./images/prospective-left/todo-components/recurring.svg" />
    </button>
</template>

<template id="reminder-template">
    <button id="reminder-indicator-" class="indicator hidden" type="button">
        <img class="reminder indicator" src="./images/prospective-left/todo-components/reminder.svg" />
    </button>
</template>

<template id="list-template">
    <button id="list-indicator-" class="indicator hidden" type="button">
        <input id="list-indicator-text-" type="text" value="" readonly/>
    </button>
</template>


