<template id="timer-component-template">
    <div class="single-line minibar">  
        <!-- on hover -->
            <!-- remove .inactive from .start-timing -->
        <!-- SCRIPT: on click... -->
            <!-- stop any existing timers -->
            <!-- add .hidden to .start-timing -->
            <!-- remove .hidden from .timing.active -->
            <!-- change global state to 'timing' (renders all other timers 'disabled')-->
            <!-- start timing current session -->
        <!-- SCRIPT: on second click... -->
            <!-- reverse of above -->
            <!-- save end time in tracked-time-indicator  -->
            <!-- send tracked-time-indicator to server and save in time-log -->
        <button class="start-timing inactive" type="button">
            <img class="minicon" src="./images/prospective-left/todo-components/time-stopwatch.svg" />
            <input class="tracked-time indicator" name="time-tracked" type="text" readonly />
        </button>
        <button class="timing active hidden" type="button">
            <img class="minicon" src="./images/prospective-left/todo-components/time-stopwatch.svg" />
            <input class="timing indicator" class="indicator hidden" type="time" readonly />
        </button>
    </div>
</template>