*,
::before,
::after {
	box-sizing: border-box;
}
:root {

	/* 25%, 60%, 90% */
	--red: rgba(158,1,66,1);
	--red-light: rgba(182, 78, 114, 1);
	--red-lighter: rgba(206, 153, 176, 1);
	--red-lightest: rgba(230, 218, 231, 1);

	--red-orange: rgba(213,62,79,1);
	--red-orange-light: rgba(222, 119, 132, 1);
	--red-orange-lighter: rgba(236, 176, 186, 1);
	--red-orange-lightest: rgba(248, 225, 232, 1);

	--orange: rgba(244,109,67,1);
	--orange-light: rgba(247, 153, 121, 1);
	--orange-lighter: rgba(250, 197, 176, 1);
	--orange-lightest: rgba(252, 234, 223, 1);

	--orange-yellow: rgba(253,174,97,1);
	--orange-yellow-light: rgba(254, 201, 147, 1);
	--orange-yellow-lighter: rgba(254, 228, 198, 1);
	--orange-yellow-lightest: rgba(255, 246, 237, 1);

	--yellow: rgba(254,224,139,1);
	--yellow-light: rgba(254, 234, 179, 1);
	--yellow-lighter: rgba(255, 244, 219, 1);
	--yellow-lightest: rgba(255, 251, 243, 1);

	--pale-green: rgba(230,245,152,1);
	--pale-green-light: rgba(240, 249, 189, 1);
	--pale-green-lighter: rgba(247, 252, 222, 1);
	--pale-green-lightest: rgba(252, 254, 243, 1);

	--green: rgba(171,221,164,1) ;
	--green-light: rgba(193, 232, 189, 1);
	--green-lighter: rgba(217, 244, 216, 1);
	--green-lightest: rgba(240, 252, 239, 1);

	--green-blue: rgba(102,194,165,1);
	--green-blue-light: rgba(140, 214, 188, 1);
	--green-blue-lighter: rgba(200, 235, 223, 1);;
	--green-blue-lightest: rgba(236, 247, 241, 1);

	--blue: rgba(50,136,189,1);
	--blue-light: rgba(119,180,218,1); /* 30% lighter */
	--blue-lighter: rgba(176,214,241,1); /* 60% lighter */
	--blue-lightest: rgba(232,242,250,1); /* 90% lighter */

	--purple: rgba(94,79,162,1);
	--purple-light: ;
	--purple-lighter: ;
	--purple-lightest: ;
}
html {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	line-height: calc(1em + 0.5rem);
	font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
	max-inline-size: 64ch;
	-webkit-text-size-adjust: 100%; 
	-webkit-font-smoothing: antialiased;
	-moz-tab-size: 4; 
	tab-size: 4;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: inherit;
	background-color: darkslateblue;
}
h1, h2, h3, h4, h5 { 
	font-size: inherit; 
	font-weight: inherit; 
} 
ul, ol {
	list-style: none;
	padding-inline: 0;
}
img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}
p {
	overflow-wrap: break-word;
	hyphens: auto;
}
.hidden {
	display: none !important;
}

.inactive {
	opacity: 0.3;
}
/* ============================================*/

button {
	padding: 0;
	border: none;
	background: transparent;
	cursor: pointer;
	display: inline-block; /* Ensures it behaves like a block element for alignment */
}

input:focus {
	outline: none;
}

/* Make the image inside the button fit and conform */
button img {
	display: block; /* Remove any unwanted spacing below the image */
	width: 25px; /* Make image take full width of the button */
	height: 25px; /* Make image take full height of the button */
}

.single-line {
	display: flex;
}

.popover {
	z-index: 1;
	position: absolute;
}
/* ============================================*/
.login.container {
	background-color: aliceblue;
	padding: 15px 30px;
	border-radius: 13px;
	text-align: center;
}

.login.container h2 {
	font-size: 14pt;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login.container p {
	font-size: 12pt;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.input-container input {
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 8px 16px;
	border: none;
	border-radius: 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.input-container button {
	margin-top: 10px;
	padding: 8px 12px;
	cursor: pointer;
}
.toggle-link {
	color: darkslateblue;
	cursor: pointer;
	margin-top: 10px;
}

.input-container span {
	display: block;
	line-height: normal;
}

#submit-existing-login,
#submit-new-login {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	border: 2px solid darkslateblue; 
	border-radius: 10px;
	padding: 5px 10px;
	margin-top: 30px;
}

.input-container .error {
	font-size: 10pt;
	color: var(--red-orange-light);
}
/* ============================================*/
.main.container {
	display: flex;
	height: 95%;
	width: 95%;
	border-radius: 15px;
	overflow: hidden;
}

#left-pane {
	display: flex;
	width: 350px;
	z-index: 0;
	border-radius: 15px;
	background-color: aliceblue;
	position: relative;
}

#left-pane .left.container {
	display: flex;
	flex-direction: column;
	width: 350px;
	z-index: 0;
	align-items: flex-end;
	margin: 20px 30px 20px 30px;
}

/* ============================================*/
.dragbar {
	width: 40px;
	height: 100%;
	position: absolute;
	z-index: 4;
	left: 330px;
}
.solid-line {
	height: 100%;
	width: 2px;
	background-color: darkslateblue;
	position: absolute;
	left: 20px;
}

.z-top {
	position: absolute;
	z-index: 2;
	width: 34px;
}

.z-top.top {
	top: 150px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.z-top.bottom {
	bottom: 120px;
}

.dragbar-button {
	background-color: white;
	border: 2px solid darkslateblue;
	border-radius: 20px;
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dragbar-icon {
	width: 30px;
}
/* ============================================*/

#utility-toolbar {
	display: flex;
	position: relative;
	align-items: center;
	width: 100%;
	background-color: white;
	border: 2px solid darkslateblue;
	color: black;
	border-radius: 10px;
	height: 39px;
	
}

#utility-input {
	padding-left: 10px;
	width: 100%;
	height: 39px;
	line-height: 39px;
	border: none;
	outline: none;
	font-size: 14pt;
}
#utility-results {
	background-color: darkslateblue;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 20px 10px;
	position: absolute;
	z-index: 1;
	top: 37px;
	color: white;
	width: 100%;
	font-size: 11pt;
}

.utility.button{
	z-index: 1;
	position: absolute;
	right: 7px;
	top: 8px;	
}

.utility img {
	height: 20px;
}

#utility-results div {
	height: 30px;
	line-height: 30px;
}

.list-option, 
.sublist-option {
	font-size: 10pt;
	display: inline-block;
	width: auto;
	line-height: 30px;
	height: 30px;
	text-overflow: none;
	flex-grow: 0;
	padding: 0 10px;
	background-color: white;
	color: black;
	border-radius: 15px;
	white-space: nowrap;
}

.todo-option {
	font-size: 10pt;
	display: inline-block;
	width: auto;
	line-height: 30px;
	height: 30px;
	text-overflow: none;
	white-space: nowrap;
	flex-grow: 0;
	padding: 0 10px;
	border: solid 1px white;
	border-radius: 15px;
	
}

/* ============================================*/

#left-view-toolbar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	height: 25px;
	margin-left: 5px;
	margin-top: 25px;
}

#left-view-toolbar img {
	margin-left: 10px;
}

/* ============================================*/

#todo-panel {
	width: 100%;
	margin-top: 10px;
	border-radius: 15px;
	background-color: aliceblue;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	border-radius: 0;
	scrollbar-width: none;
}

#todo-panel::-webkit-scrollbar {
	display: none;
}

/* ============================================*/

.list,
.sublist {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}


.sublist.container {
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
}

.list .body.container, 
.sublist .body.container {
	position: relative;
	padding-bottom: 5px;
}

.list .todo.container,
.sublist .body.container,
.list .sublist.container {
	display: flex;
	flex-direction: column;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.list .heading,
.sublist .heading,
.open-list-button,
.editing-list-title,
.readonly.title {
	width: 100%;
	border: none;
	border-radius: 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 14pt;
}

.sublist .open-list-button input,
.sublist .editing-list-title {
	font-size: 12pt;
}

.open-list-button input, 
.editing-list-title {
	padding: 7px;
	padding-top: 9px;
	padding-left: 17px;
}
.editing-list-title {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	width: 100%;
}

/* ============================================*/
.options-list-button {
	margin-right: 10px;
	padding: 5px;
}
.options-list-button svg {
	height: 18px;
}
.options.popover {
	display: flex;
	flex-direction: column;
	gap: 2px;
	padding-top: 8px;
	padding-bottom: 8px;
	top: 0;
	right: 10px;
	background-color: aliceblue;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 0 1px 0 rgba(72, 61, 139, 0.8), 
              0 0 5px 2px rgba(72, 61, 139, 0.3), 
              0 0 10px 5px rgba(72, 61, 139, 0.1);
}
.options.popover button {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 10pt;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}
.options.popover button:hover {
	background-color: white;
}

/* ============================================*/

.todo-bar {
	margin-left: 11px;
	margin-right: 11px;
	padding-left: 15px;
	padding-right: 10px;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.todo-bar,
.todo-title,
.todo-bar button,
.todo-bar input {
	background-color: white;
	border-radius: 10px;
	border: none;
	font-size: 12pt;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.todo-bar .left,
.todo-title {
	width: 100%;
}

.todo-bar .top {
	margin-top: 5px;
}
.todo-bar .bottom {
	margin-bottom: 5px;
}

.todo-title {
	display: flex;
	height: auto; 
  }
.todo-details-on,
.todo-details-on button {
	width: 30px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.todo-details-on img {
	width: 8px;
	height: 10px;
}

.nearest-datetime-button {
	display: flex;
	gap: 1px;
	border-radius: 10px;
}

.nearest-datetime-button input {
	font-size: 8.5pt;
	margin-left: 2px;
	color: rgb(108, 108, 108);
	pointer-events: none;
}

.todo-bar .task-checkbox.popover {
	appearance: none;
	width: 20px;
  height: 20px;
	position: absolute;
	border-radius: 5px;
	z-index: 2;
	transform: translate(-50%, -50%);
	left: -4px;
	top: 43%;
}
/* ============================================*/

.todo-edit-dropdown {
	margin-left: 11px;
	margin-right: 11px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 2px;
	padding-bottom: 0;
	display: flex;
	flex-direction: column;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.todo-details-dropdown {
	display: flex;
	flex-direction: column;
}

.todo-details-dropdown .add-details button {
	width: 20px;
}
.todo-details-dropdown .right {
	justify-self: end;
}
/* ============================================*/
.checklist.container {
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.subtask input[type="text"],
.notes {
	background-color: rgba(255, 255, 255, 0); 
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subtask {
	display: flex;
	gap: 3px;
}

.subtask .clear-subtask-button {
	font-size: 15px;
	font-weight: 500;
	color: var(--primary-color)
}

.subtask-checkbox {
	appearance: none;
	width: 15px;
  height: 15px;
	border-radius: 15px;
}

.subtask input[type="text"] {
  border: none;
	font-size: 12pt;
	width: 100%;
}

.notes {
	appearance: none;
	outline: none;
	width: 100%;
	resize: none;
	min-height: 20px;
	border-radius: 10px;
	padding: 5px;
	color: rgb(108, 108, 108);
	font-size: 11pt;
}
/* ============================================*/
.todo-schedule-dropdown {
	display: flex;
	flex-direction: column;

}
.schedule-type-selection {
	display: flex;
	justify-content: space-around;
}

.schedule-type-selection button {
	font-size: 11pt;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: rgb(108, 108, 108);
	background-color: var(--lightest-color);
	padding: 2px 10px;
	border-radius: 10px;
}

.schedule-type-selection .datetime-only-button {
	border: 2px solid var(--light-color);
}

/* ============================================*/
.calendar-component {
	border: 2px solid var(--lighter-color);
	border-radius: 10px;
	margin: 10px;
	margin-top: 15px;
	margin-bottom: 0;

}
.calendar-component .cal-heading {
	display: flex;
	justify-content: center;
	background-color: var(--lighter-color);
	padding: 5px 15px;
}
.calendar-component select {
	appearance: none;
	background-color: rgba(255, 255, 255, 0);
	width: 50px;
	border: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 12pt;
}

.calendar-component select:focus {
	outline: none;
}

.calendar-component .cal-body {
	padding: 5px 10px 12px 10px;
}
.calendar-component .day-names,
.calendar-component .date-numbers{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	place-items: center;
}

.calendar-component .day-names span {
	line-height: 28px;
	font-size: 10pt;
}
.calendar-component .date-numbers {
	font-size: 11pt;
}
.calendar-component .date-numbers button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 10pt;
	border-radius: 15px;
	width: 22px;
	height: 20px;
}

.calendar-component .date-numbers button.selectable:hover {
	background-color: var(--lighter-color);
}

.calendar-component .date-numbers .selected {
	background-color: var(--lighter-color);
	color: black;
	font-weight: bold;
}

/* ============================================*/
.bottom-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 2px;
	padding-right: 1px;
}

.bottom-section svg {
	width: 18px;
	height: 18px;
}
/* ============================================*/
.tiny-add-bar-todo,
.tiny-add-bar-task,
.tiny-add-bar-sublist,
.tiny-add-bar-list {
	width: 100%;
	min-height: 5px;
	color: var(--lightest-color);
}
/* ============================================*/
[data-list-id="list-1"] {
  --primary-color: var(--blue);
  --light-color: var(--blue-light);
  --lighter-color: var(--blue-lighter);
  --lightest-color: var(--blue-lightest);
}
[data-list-id="list-2"] {
  --primary-color: var(--green-blue);
  --light-color: var(--green-blue-light);
  --lighter-color: var(--green-blue-lighter);
  --lightest-color: var(--green-blue-lightest);
}
[data-list-id="list-3"] {
  --primary-color: var(--green);
  --light-color: var(--green-light);
  --lighter-color: var(--green-lighter);
  --lightest-color: var(--green-lightest);
}
[data-list-id="list-4"] {
  --primary-color: var(--pale-green);
  --light-color: var(--pale-green-light);
  --lighter-color: var(--pale-green-lighter);
  --lightest-color: var(--pale-green-lightest);
}
[data-list-id="list-5"] {
  --primary-color: var(--yellow);
  --light-color: var(--yellow-light);
  --lighter-color: var(--yellow-lighter);
  --lightest-color: var(--yellow-lightest);
}

.list,
.list .heading input,
.list .heading {
	background-color: var(--primary-color);
	border: none;
}
.list .todo-bar .task-checkbox.popover {
  border: 2px solid var(--primary-color);
}
.list .todo-bar .task-checkbox.popover:checked {
  background-color: var(--light-color);
}

.list .options-list-button svg {
	stroke: var(--lightest-color);
}

.sublist .heading input,
.sublist .heading,
.sublist .body {
	background-color: var(--lighter-color);
	border: none;
}
.sublist .todo-bar .task-checkbox.popover {
  border: 2px solid var(--lighter-color);
}
.sublist .todo-bar .task-checkbox.popover:checked {
  background-color: var(--lighter-color);
}
.sublist .options-list-button svg {
	stroke: var(--primary-color);
}

.subtask-checkbox {
  border: 1px solid var(--light-color);
	background-color: var(--lightest-color);
}
.subtask-checkbox:checked {
	background-color: var(--light-color);
}
.notes {
	border: none;
	border: 2px solid var(--light-color);
}
.todo .bottom-section svg {
	stroke: var(--primary-color);
}
/* ============================================*/

#timer-panel {
	display: flex;
	align-self: flex-start;
	margin-left: 40px;
	margin-top: 10px;
}

#timer-panel.hidden {
	display: none;
}


/* ============================================*/
#right-pane {
	border-radius: 15px;
	background-color: aliceblue;
	display: flex;
	padding: 20px 40px 20px 25px;
	overflow-x: auto;
	overflow-y: hidden;
	height: 100%;

}

.hours-label.container {
	font-size: 10pt;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-right: 3px;
}

.hours-label.container .empty {
	height: 100px;
	flex-shrink: 0;
}

.hours-label.container .time {
	text-align: right;
	flex-grow: 1;
	height: auto;
	min-height: 0;
	overflow: hidden;
}

.day-in-days-calendar {
	display: flex;
	background-color: white;
	border-left: 2px solid darkslateblue;
	border-top: 2px solid darkslateblue;
	border-bottom: 2px solid darkslateblue;
	border-left: 2px solid darkslateblue;
	border-radius: 10px;
	
}

.day-in-days-calendar .day-name {
	background-color: darkslateblue;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	height: 40px;
	display: flex;
}

.day.container input{
	border: none;
	background-color: inherit;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	
}
.day-in-days-calendar .day-name input {
	color: white;
	text-align: center;
}

.top input{
	font-size: 11pt;
	padding: 0px 5px;
}

.day.container .top button,
.top input {
	width: 100%;	
}

.day.container .top button {
	background-color: var(--lighter-color);
}

/* ============================================*/

