<div class="day-in-days-calendar" data-day="">
    <div class="day container">
        <section class="day-name">
            <!-- default: today -->
            <button class="day-name-button" type="button">
                <input class="readonly-date" type="text" value="" readonly />
            </button>
        </section>
        <section class="top">
            <!-- append line elements -->
        </section>
        <section class="middle">
            
        </section>
        <!--  -->
        <section class="bottom">
            <!-- for each event with no scheduled time, APPEND EVENT_LINE FROM DAY_TEMPLATES -->
            <!-- for each scheduled-date with no time, APPEND TASK-LINE TEMPLATE FROM DAY_TEMPLATE-->
            <!-- for each non-scheduled measurement in day object, APPEND MEASUREMENT_BUTTON FROM DAY_TEMPLATES -->
            <!-- for each non-scheduled habit in day object, APPEND HABIT_BUTTON FROM DAY_TEMPLATES -->
        </section>
    </div>    
</div>

